* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book {
  padding: 2rem 2rem 1rem 2rem;
  margin: 0 auto;
  background: rgba(128, 128, 128, 0.164);
  border-radius: 0.75rem;
  text-align: center;
}

.booklist {
  max-width: 1270px;
  margin: 0 auto;
  margin-top: 5rem;
  display: grid;
}

@media screen and (min-width: 568px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
